// App configuration for Using the NeupAccount API
AUTH_APP_ID="neupcloud"
AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2aPJSyu08S/7ywvvaSwz\nEtt4kSQ0mU0vQe1hjmcjYCcX+FtJA82yS1bm3T2ccFc0J1B2lMr1rmMo2BM/W/pZ\nESKN2xB568lwfiuN6lGBc2j9oJaNC+65w8XEfNAKNMw2IjQA1O8o74TnQab1pUq2\nrz7WdFr3F9+PRM4TeNKTv0JrnhUPl8ccrKiC4ETKbk9ryci3GsVRT5/8JWKXWW2M\n/BtSM7D+1n/X+wMwNGV4wQNBXzSD8/f1caWJ6kOkUwjerwkjKSpYqZrSXv9TeZit\nU16H58h/5Q6hSaBaLQ9VNyTdAFj2gdQghZnOnioG485VZKCK9PO/MZ0VPTvOavel\ncQIDAQAB\n-----END PUBLIC KEY-----"
AUTH_API_BASEPATH="https://neupgroup.com/account/bridge"
AUTH_WEBHOOK_SECRET=""

// For initializing the first time server.
SERVER_IP_ADDRESS=""
SERVER_PRIVATE_KEY=""
SERVER_USER_NAME=""

// For the main database connection and development connection.
DATABASE_URL=""
SHADOW_DATABASE_URL=""
